.cta-section {
	margin: 0 15px;
	border-radius: 20px;
	position: relative;

	.left-shape {
		position: absolute;
		left: 0;
		bottom: 0;
		-webkit-animation: dance 2s alternate infinite;

		@include breakpoint(max-xxl) {
			display: none;
		}
	}

	.right-shape {
		position: absolute;
		right: 0;
		bottom: 30px;

		@include breakpoint(max-xxl) {
			display: none;
		}
	}

	.bottom-shape {
		position: absolute;
		left: 40%;
		bottom: 30px;

		@include breakpoint(max-xxl) {
			display: none;
		}
	}

	.logo-shape {
		position: absolute;
		right: 343px;
		top: 66px;

		@include breakpoint(max-xxxl) {
			right: 110px;
		}

		@include breakpoint(max-xxl) {
			display: none;
		}
	}

	&::before {
		@include before;
		background-color: $theme-color-2;
		border-radius: 0 0 83.5px 83.5px;
		width: 158px;
		height: 224px;
		left: initial;
		right: 340px;
		top: 0;

		@include breakpoint(max-xxxl) {
			right: 110px;
		}

		@include breakpoint(max-xxl) {
			display: none;
		}
	}
}

.cta-content-style-1 {
	.section-title {
		h2 {
			font-size: 66px;
			font-family: $heading-font;

			@include breakpoint(max-xl) {
				font-size: 45px;
			}

			@include breakpoint(max-lg) {
				font-size: 40px;
			}

			@include breakpoint(max-md) {
				font-size: 35px;
			}

			@include breakpoint(max-sm) {
				font-size: 30px;
			}
		}
	}

	.theme-btn {
		margin-top: 40px;
		background-color: #084d36;
	}
}

.cta-image-style-1 {
	margin-bottom: -120px;
}

.cta-bg-content-style-1 {
	text-align: center;

	.section-title {
		.sub-title {
			color: #eeff69;
		}
	}

	.content {
		margin-top: 15px;

		.text {
			max-width: 580px;
			margin: 0 auto;
			color: rgba(255, 255, 255, 0.78);
		}

		.theme-btn {
			background: #eeff69;
			margin-top: 30px;
			color: $header-color;

			i {
				color: $header-color;
			}

			&::before {
				background-color: $white;
			}

			&:hover {
				color: $header-color;
			}
		}

		.icon-list {
			@include flex;
			gap: 40px;
			margin-top: 48px;
			justify-content: center;

			@include breakpoint(max-xxl) {
				margin-top: 30px;
				flex-wrap: wrap;
				gap: 20px;
			}

			li {
				color: $white;

				svg {
					margin-right: 5px;
				}
			}
		}
	}
}

.cta-bg-section {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 0 15px;

	.right-shape {
		position: absolute;
		right: 0;
		top: 0;

		@include breakpoint(max-xxl) {
			display: none;
		}
	}

	.track-shape {
		position: absolute;
		right: 180px;
		bottom: 80px;

		@include breakpoint(max-xxxl) {
			right: 95px;
		}

		@include breakpoint(max-xxl) {
			display: none;
		}
	}

	.hand-shape {
		position: absolute;
		right: 460px;
		bottom: 300px;

		@include breakpoint(max-xxxl) {
			display: none;
		}
	}

	.left-image {
		position: absolute;
		left: 100px;
		bottom: 0;

		img {
			@include imgw;
		}

		@include breakpoint(max-xxxl) {
			max-width: 370px;
			left: 70px;
		}

		@include breakpoint(max-xxl) {
			display: none;
		}
	}
}

.cta-wrapper-style-2 {
	border-radius: 22px;
	background-color: $theme-color;
	padding: 80px 0;
	position: relative;
	z-index: 9;
	margin-top: -230px;

	@include breakpoint(max-xxl) {
		margin-top: 0;
	}

	.left-image {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;

		img {
			@include imgw;
			border-radius: 22px;
		}

		@include breakpoint(max-lg) {
			display: none;
		}
	}

	.right-image {
		position: absolute;
		right: 25px;
		top: -50px;
		bottom: 0;

		@include breakpoint(max-xxl) {
			right: 0;
			top: 0;
		}

		@include breakpoint(max-lg) {
			display: none;
		}

		img {
			@include imgw;
		}
	}

	.middle-shape {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}

	.cta-content-style-2 {
		text-align: center;

		.section-title {
			h2 {
				font-size: 48px;
				font-weight: 400;

				@include breakpoint(max-xxl) {
					font-size: 45px;
				}

				@include breakpoint(max-xl) {
					font-size: 45px;
				}

				@include breakpoint(max-lg) {
					font-size: 40px;
				}

				@include breakpoint(max-md) {
					font-size: 35px;
				}

				@include breakpoint(max-sm) {
					font-size: 30px;
				}

				@include breakpoint(max-xxs) {
					font-size: 28px;
				}
			}
		}

		.theme-btn {
			background: #eeff69;
			margin-top: 30px;
			color: $header-color;

			i {
				color: $header-color;
			}

			&::before {
				background-color: $white;
			}

			&:hover {
				color: $header-color;
			}
		}
	}
}

.cta-section-2 {
	@include breakpoint(max-xxl) {
		overflow: hidden;
		margin-top: 100px;
	}

	@include breakpoint(max-lg) {
		margin-top: 80px;
	}
}

//Counter
.counting-card-items {
	text-align: center;
	padding: 30px 16px 60px;
	background-color: $white;
	border-radius: 12px;
	box-shadow: 8px 6px 51.3px 51px rgba(10, 3, 46, 0.03);	position: relative;
	transition: all 0.3s;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 91%;
		height: 91%;
		border-radius: 12px;
		border: 1px dashed #97a237;
		margin: 13px;
	}
	h2 {
		font-family: "Lobster Two";
		font-size: 66px;
		color: $theme-color;
	}
	.circle-thumb {
		animation: cir36 20s linear infinite;
	}
	.circle-thumb2 {
		opacity: 0;
		transition: all 0.3s;
	}
	&:hover {
		.svg{
			svg{
				path{
					transition: all 0.3s;
					fill: $theme-color;
				}
			}
		}
		background-color: $theme-color;
		.circle-thumb1 {
			opacity: 0;
		}
		.circle-thumb2 {
			opacity: 1;
		}
		p,
		h2 {
			color: $white;
		}
	}
	@include breakpoint(max-xl){
		h2{
			font-size: 40px;
		}
	}
}

//Choose
/* Choose Us Css Start */
.left-line {
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        background-color: #092210;
        opacity: 10%;
        inset-inline-start: 24px;
        height: calc(100% - 80px);
        inset-block-start: 24px;
        z-index: -1;

    }
}
.choose--items{
	.icons{
		width: 100px;
		height: 100px;
		min-width: 100px;
		border-radius: 50%;
		background-color: #99A5371A;	
		transition: all 0.4s;
		svg{
			path{
				transition: all 0.4s;
			}
		}
	}
	&:hover{
		.icons{
			background-color: $theme-color;
			svg{
				path{
					fill: $white;
				}
			}
		}
	}
}

/* Choose Us Css End */