.hero-1 {
    margin: 15px 15px 0;
    border-radius: 20px;
    position: relative;

    .shape-1 {
        position: absolute;
        right: 0;
        top: 0;

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

     .shape-2 {
        position: absolute;
        left: 46%;
        top: 60px;

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

     .shape-3 {
        position: absolute;
        left: 53%;
        top: 230px;

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

    .shape-4 {
        position: absolute;
        left: 29%;
        bottom: 120px;

        @include breakpoint (max-xxl) {
            display: none;
        }
    }


    .shape-5 {
        position: absolute;
        right: 80px;
        bottom: 50px;

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

    .social-icon {
        position: absolute;
        display: grid;
        gap: 10px;
        right: 40px;
        top: 53%;
        transform: translateY(-50%);

        @include breakpoint (max-xxxl) {
            display: none;
        }

        span {
            color: $white;
            transform: rotate(-90deg);
            display: inline-block;
            margin-left: -13px;
             margin-top: 30px;
        }

        &::before {
            @include before;
            background: $white;
            width: 1px;
            left: initial;
            height: 87px;
            top: -35%;
            right: 44px;
        }

        a {
            border-radius: 100px;
            background: #4D5E52;
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            color: $white;

            &:hover {
                background-color: $theme-color;
                color: $white;
            }
        }
    }

    .hero-box {
        border-radius: 0 12px;
        background: #4C5D5A;
        padding: 10px 25px 10px 10px;
        @include flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        bottom: 0;

         @include breakpoint (max-xxl) {
            display: none;
        }

        .image-item {
            @include flex;
            gap: 28px;

            .small-image {
                img {
                    @include imgw;
                    border-radius: 10px;
                }
            }

            p {
                color: rgba(255, 255, 255, 0.78);
                max-width: 356px;
                font-size: 14px;
            }
        }

        .circle-image {
            width: 150px;
            height: 150px;
            line-height: 150px;
            border-radius: 100px;
            background-color: rgba(255, 255, 255, 0.08);
            text-align: center;
            position: relative;

            img {
                animation: cir36 10s linear infinite;
            }

            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                border: 2px dashed rgba(255, 255, 255, 0.44);
                width: 85px;
                height: 85px;
                line-height: 85px;
                text-align: center;
                border-radius: 100px;

                img {
                    animation: initial;
                }
            }
        }
    }

    .container-fluid {
        padding: 0 110px;

         @include breakpoint (max-xxxl) {
            padding: 0 50px;
        }

        @include breakpoint (max-xxl) {
            padding: 0 30px;
        }

        @include breakpoint (max-sm) {
           padding: 0 15px;
        }
    }

    .hero-content {
        padding-top: 120px;

         @include breakpoint (max-lg) {
           padding-top: 80px;
        }

        h4 {
            font-weight: 500;
            color: #EEFF69;
            margin-bottom: 10px;
        }

        h1 {
            color: $white;
             font-family: $heading-font;

            br {
                 @include breakpoint (max-xxxl) {
                   display: none;
                }
            }
        }

        .hero-button-item {
            @include flex;
            gap: 18px;
            margin-top: 48px;

             @include breakpoint (max-xxxl) {
               margin-top: 30px;
               flex-wrap: wrap;
            }

            .logo-item {
                @include flex;
                gap: 14px;

                .logo-image {
                    width: 50px;
                    width: 50px;
                    line-height: 50px;
                    text-align: center;
                    background-color: $white;
                    border-radius: 100px;
                }

                .cont {
                    span {
                        color: $theme-color;
                    }

                    p {
                        font-size: 13px;
                        font-weight: 500;
                        color: $white;
                    }
                }
            }
        }
    }

    .hero-image {
        max-width: 654px;
        margin-left: 40px;
        margin-top: 10px;

         @include breakpoint (max-sm) {
            margin-top: 0;
        }

        img {
            @include imgw;
        }
    }
}


.hero-2 {
    position: relative;
    padding: 220px 0;
    margin: 30px;

    @include breakpoint (max-xxl) {
        padding: 100px 0;
    }

    @include breakpoint (max-lg) {
        padding: 80px 0;
    }

    &::before {
        @include before;
       background: linear-gradient(66deg, rgba(2, 51, 35, 0.53) 31.61%, rgba(2, 51, 35, 0.00) 68.15%);
        z-index: 999;
    }

    .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transform: scale(1);
        -webkit-transition: all 8s ease-out 0s;
        -moz-transition: all 8s ease-out 0s;
        -ms-transition: all 8s ease-out 0s;
        -o-transition: all 8s ease-out 0s;
        transition: all 8s ease-out 0s;
        z-index: 9;
    }

     .shape {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 9999;

        @include breakpoint (max-xl) {
            display: none;
        }
    }

    .hero-content {
        position: relative;
        z-index: 999;
        text-align: center;

        h1 {
           color: $white;
           margin-bottom: 15px;
           font-size: 126px;
           font-weight: 700;
           font-family: $heading-font;
        }

        .hero-button {
            margin-top: 40px;
           
            @include breakpoint (max-xl) {
               margin-top: 30px;
               flex-wrap: wrap;
               gap: 30px;
            }


            .theme-btn {
                background-color: $theme-color-3;
                color: $header-color;

                i {
                    color: $header-color;
                }

                &::before {
                    background-color: $white;
                }
           }
        }

        .list-item {
            @include flex;
            gap: 40px;
            margin-top: 40px;
            justify-content: center;

            li {
               color: $white;
               font-size: 18px;
               font-weight: 500;
            }
        }
    }
}


.hero-section-2 {
    position: relative;

    .swiper-slide.swiper-slide-active {
        .hero-bg {
            -webkit-transform: scale(1.19);
            -moz-transform: scale(1.19);
            transform: scale(1.19);
        }
    }

    .arrow-button {

        @include breakpoint (max-xl) {
            display: none;
        }

        .array-prev {
            position: absolute;
            left: 3%;
            top: 50%;
            transform: translateY(-50%);
            background-color: $theme-color-2;
            width: 60px;
            height: 60px;
            border-radius: 100px;
            line-height: 60px;
            color: $theme-color;
            font-size: 18px;
            z-index: 9;
            @include transition;

            &:hover {
                color: $theme-color-2;
                background-color: $theme-color;
            }
        }

        .array-next {
            position: absolute;
            right: 2%;
            top: 50%;
             transform: translateY(-50%);
            color: $white;
            font-size: 18px;
            z-index: 999;
            @include transition;
            background-color: $theme-color-2;
            width: 60px;
            height: 60px;
            border-radius: 100px;
            line-height: 60px;

            &:hover {
                color: $theme-color-2;
                background-color: $theme-color;
            }
        }
    }
}